/* =====================================================================
// Links.
// ===================================================================*/
a {
  text-decoration: none;
}


/* =====================================================================
// HTML body.
// ===================================================================*/
body {
  background-color: #81AAD3;
  background-image: url(../images/pbcounter.gif);
  background-repeat: repeat;
  color: #003366;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}


/* =====================================================================
// DIV element to center the whole page.
// ===================================================================*/
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


/* =====================================================================
// Counter panel.
// ===================================================================*/
div.panel {
  background-color: #A6C4E1;
  border: #CFDFEF solid 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #003366;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  width: 450px;
}


/* =====================================================================
// Page title.
// ===================================================================*/
div.title {
  color: #003366;
  font-size: 20px;
  font-style: italic;
  padding: 15px;
}


/* =====================================================================
// Error message.
// ===================================================================*/
div.message {
  background-color: #FFBBCC;
  border: #FFB0C5 solid 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #CC0033;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
}


/* =====================================================================
// Counter name area.
// ===================================================================*/
div.counter-name {
  background-color: #D1D1D1;
  border-left: #B5B5B5 solid 2px;
  border-right: #B5B5B5 solid 2px;
  border-top: #B5B5B5 solid 2px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #696969;
  font-size: 16px;
  margin: 20px auto 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 300px;
}


/* =====================================================================
// Counter number area.
// ===================================================================*/
div.counter-number {
  background-color: #E4E4E4;
  border: #B5B5B5 solid 2px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #696969;
  font-size: 20px;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 300px;
}


/* =====================================================================
// Counter number.
// ===================================================================*/
span.counter {
 background-color: #E4E4E4;
 color: #CC0033;
}


/* =====================================================================
// Total information area.
// ===================================================================*/
div.counter-info {
  color: #003366;
  font-size: 15px;
  margin-top: 5px;
  padding: 8px;
}


/* =====================================================================
// Counter selection area.
// ===================================================================*/
div.counter-select {
  color: #003366;
  font-size: 15px;
  margin-top: 5px;
  padding: 7px;
}


/* =====================================================================
// Counter id dropdown field.
// ===================================================================*/
select.counter-list {
  background-color:#D1E2EF;
  border: 1px solid #93B8D9;
  color: #3870A7;
  font-size: 14px;
}


/* =====================================================================
// Select button.
// ===================================================================*/
input.select-button {
  background-color:#90B9E0;
  border: 1px solid #83ACD6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #003366;
  font-size: 14px;
  font-weight: bold;
  height: 22px;
  padding-bottom: 3px;
  width: 80px;
}


/* =====================================================================
// Button area.
// ===================================================================*/
div.button {
  color: #003366;
  font-size: 15px;
  padding: 10px;
}


/* =====================================================================
// Button links.
// ===================================================================*/
a.button {
  color: #003366;
}


/* =====================================================================
// Button links in hover mode.
// ===================================================================*/
a.button:hover {
  color:#CC0033;
}


/* =====================================================================
// Copyright text.
// ===================================================================*/
div.copyright {
  background-color: #A6C4E1;
  color: #3870A7;
  font-size: 11px;
  margin-top: 20px;
}


/* =====================================================================
// Copyright link.
// ===================================================================*/
a.copyright {
  color: #3870A7;
}


/* =====================================================================
// Copyright link in hover mode.
// ===================================================================*/
a.copyright:hover {
  color:#CC0033;
}
